<div class="container">
  <%# photos %>
  <h2><%= @user.first_name %></h2>
  <%= @user.birthdate %>
  <%= @user.description %>
  <%= @user.foodmood %>
  <%= @user.genre %>
  <%= @user.diet %>
  <%= @user.distance %>
</div>
