<div class="container">
  <%# photos %>
  <h2><%= @user.first_name %></h2>
  <%= @user.age %>
  <%= @user.description %>
  <%= @user.foodmoods.map(&:name) %>
  <%= @user.genre %>
  <%= @user.diet %>
  <%= @user.distance %>
</div>
