<div class="container">
  <%# photos %>
  <h2><%= @user.first_name %></h2>
  <%= @user.birthdate %>
  <%= @user.description %>
  <%= @user.foodmoods.map(&:name) %>
  <%= @user.price %>
  <%= @user.diet %>
  <%= @user.distance %>
</div>
