<div class="card_asking" data-controller="suggestions" data-suggestions-suggestion-id-value="<%= suggestion.id %>">

  <div class="info2">

    <%= image_tag restaurant.image_url, class: "img_sug"%>
    <h4 class="cardTitle"><%= restaurant.name %></h4>
    <p><%= restaurant.address %></p>

    <div class="prix2">
      <p><%= restaurant.price %></p>
    </div>

    <div class="les_btn">
      <button class="btn_decline" data-suggestions-target="btnDecline" data-action="click->suggestions#refuse">Decline</button>

      <button class="btn_accept" data-suggestions-target="btnAccept" data-action="click->suggestions#accept">Accepte</button>
      <div data-suggestions-target='message'></div>
    </div>
  </div>




  </div>

</div>
