<div class="foot">
  <ul>
    <li class="icones"><%= link_to root_path do %>
    <%= image_tag "swipe.png", id:"logo" %>
    <% end %></li>
    <li class="icones"><%= link_to root_path do %>
    <%= image_tag "talk.png", id:"logo" %>
    <% end %></li>
    <li class="icones"><%= link_to root_path do %>
    <%= image_tag "find.png", id:"logo" %>
    <% end %></li>
  </ul>
</div>
