<div class="suggestion_card" data-controller="send-card" data-send-card-target="card" data-action="click->send-card#get" data-send-card-conversation-id-value='<%= @conversation.id %>' data-send-card-restaurant-id-value="<%= restaurant.id %>">

  <div>
    <%= image_tag restaurant.image_url.gsub(/\?w=\d*&h=\d*&s=\d*/, ''), class: "imgs" %>
  </div>

  <div class="info">
    <h4 class="cardTitle"><%= restaurant.name %></h4>
    <p class='no_bottom'><%= restaurant.address %></p>
    <div class="prix">
      <p class='no_bottom'><%= restaurant.price %></p>
    </div>
  </div>

</div>
