<div class="suggestion_card" data-controller = "send-card" data-send-card-target= "card" data-action="click -> send-card#open">

  <div>
    <%= restaurant.image, class: "imgs" %>
  </div>

  <div class="info">
    <h4 class="cardTitle"><%= restaurant.name %></h4>
    <p class='no_bottom'><%= restaurant.address %></p>
    <div class="prix">
      <p class='no_bottom'><%= restaurant.price %></p>
      <p class='no_bottom'><%= restaurant.review %></p>
    </div>
  </div>

</div>
